## Alternative Mutation Strategies
As was discovered in other implementations of the hillclimber research, it appears as if the mutation rate is too slow; for 1000 iterations hillclimber (which equal about 10 hours or computation), the simple hillclimber algorithm with 2-opt seems te be too simple

In [85]:
import requests
import pandas as pd
import geopandas as gpd

import sys

sys.path.append("../")

# from helper_functions import *
# from loading_data import *
from Code.helper_functions import initial_loading
from Code.algorithms import random_start_hillclimber
from Code.algorithms import hillclimber

### Guassian distribution change
This function is a variant of the hillclimber/random algorithm. It randomly selects an amount of containers to swap. This way it balances more or less the exploitation and exploration and makes a more progressive hillclimber. The approach is to set a threshold; the higher the threshold, the less mutation happens to the solution.

In [78]:
inpt = list(range(100))
fracties = np.random.randint(1, 5, size=100)
    
df = pd.DataFrame([inpt, fracties]).T.rename(columns={0:'input_value', 1:'fractie'})

In [139]:
def hillclimber_variable_mutations(df, x=1.9):
    
    df['p'] = np.random.normal(0, 1, size=df.shape[0])
    df_to_change = df[df['p'] > x]
    df = df[df['p'] < x]
    
    try:
        fracties = list(df_to_change['fractie'])
        random.shuffle(fracties)
        df_to_change['fractie'] = fracties
    except:
        rest = df_to_change['rest'].sum() * ['rest']
        plastic = df_to_change['plastic'].sum() * ['plastic']
        papier = df_to_change['papier'].sum() * ['papier']
        glas = df_to_change['glas'].sum() * ['glas']
        textiel = df_to_change['textiel'].sum() * ['textiel']
        fracties = rest + plastic + papier + glas + textiel
        random.shuffle(fracties)
        
        df_to_change = df_to_change.drop(['rest', 'plastic', 'papier', 'glas', 'textiel'], axis=1)
        
        fractions_per_cluster = []
        start_point = 0
        for i in range(df_to_change.shape[0]):
            length = df_to_change['totaal'].iloc[i]
            fractions_per_cluster.append(fracties[start_point:start_point +length])
            start_point += length
        print(fractions_per_cluster)
        df_to_change[]
        
    df = df.append(df_to_change)
    return df

In [140]:
hillclimber_variable_mutations(joined)

[['rest', 'papier', 'rest', 'rest'], ['glas', 'rest'], ['rest'], ['rest'], ['rest', 'rest'], ['glas', 'papier'], ['rest'], ['plastic'], ['rest'], ['rest', 'papier'], ['rest', 'papier'], ['rest']]

,cluster_x,cluster_y,s1_afv_rel_nodes_poi,bk_afv_rel_nodes_poi,s1_afv_nodes,s1_afv_poi,mf_insert_datetime,mf_update_datetime,mf_row_hash,mf_deleted_ind,...,buurt,wijk,stadsdeel,rest,plastic,papier,glas,textiel,totaal,p
0,124549,481681,379997.0,124549.098~481681.498~afval_cluster~124549.098...,863418.0,156928.0,2020-04-01 13:57:12,2020-04-01 13:57:12,d9931a77-e662-edc7-6162-61417468c6c3,False,...,T93a,T93,T,1.0,0.0,0.0,0.0,0.0,1,-0.217594
1,124562,481606,111134.0,124562.398~481605.919~afval_cluster~124562.398...,594399.0,24108.0,2020-04-01 13:57:12,2020-04-01 13:57:12,9d7cb9a4-7162-7e0c-3134-af6af4d02d94,False,...,T93a,T93,T,0.0,0.0,1.0,1.0,0.0,2,-0.635353
2,124599,481768,142027.0,124599.009~481768.428~afval_cluster~124599.009...,625308.0,150701.0,2020-04-01 13:57:12,2020-04-01 13:57:12,76122c18-ca79-cd24-7673-9ca14c239511,False,...,T93a,T93,T,1.0,0.0,0.0,0.0,0.0,1,-0.148742
3,124610,481531,93235.0,124610.194~481531.108~afval_cluster~124610.194...,576491.0,86904.0,2020-04-01 13:57:12,2020-04-01 13:57:12,d2c70997-4c38-7017-8f4d-979db56864cb,False,...,T93a,T93,T,1.0,0.0,0.0,0.0,0.0,1,-0.403138
4,124614,481406,68169.0,124614.479~481405.698~afval_cluster~124614.479...,551412.0,35258.0,2020-04-01 13:57:12,2020-04-01 13:57:12,7fee9359-e64e-8707-1015-0c69c9f0f49e,False,...,T93a,T93,T,1.0,0.0,0.0,0.0,0.0,1,-0.309277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,126578,480948,456127.0,126578.194~480947.519~afval_cluster~126578.194...,939589.0,106135.0,2020-04-01 13:57:12,2020-04-01 13:57:12,1f01cb04-1b68-5d0e-eee3-4095ab80a45a,False,...,T94d,T94,T,NaN,NaN,NaN,NaN,NaN,1,2.099224
233,126582,481673,260301.0,126582.227~481672.925~afval_cluster~126582.227...,743644.0,95401.0,2020-04-01 13:57:12,2020-04-01 13:57:12,c819f551-74c8-a025-e0b5-cba02b990dc2,False,...,T94b,T94,T,NaN,NaN,NaN,NaN,NaN,1,2.071462
238,126607,481805,33158.0,126607.078~481805.128~afval_cluster~126607.078...,516381.0,30052.0,2020-04-01 13:57:12,2020-04-01 13:57:12,15a3d25e-d5a6-d180-1454-4978e6245d51,False,...,T94m,T94,T,NaN,NaN,NaN,NaN,NaN,2,3.747247
294,126952,481658,220827.0,126951.672~481658.099~afval_cluster~126951.672...,704149.0,158026.0,2020-04-01 13:57:12,2020-04-01 13:57:12,5adc8199-d06f-2b0a-96a4-7d1aef7d7cf9,False,...,T94c,T94,T,NaN,NaN,NaN,NaN,NaN,2,2.052249
398,127840,478435,32478.0,127839.810~478434.594~afval_cluster~127839.810...,515701.0,72278.0,2020-04-01 13:57:12,2020-04-01 13:57:12,7ab9dee1-3582-ab4b-b859-987d16d7df33,False,...,T97d,T97,T,NaN,NaN,NaN,NaN,NaN,1,2.213787

### n-opt hillclimber
Instead of only swapping two containers at once for each hillclimber run, the amount of containers involved in the swap is increased. This way it is possible to get more into exploration, which helps to get out of local optima and furthermore

In [87]:
all_households, rel_poi_df, joined, df_afstandn2 = initial_loading()

Do you want to use addresses instead of clusters?True
What stadsdeel do you want to make as a subsection (optional parameter)?T
API data loaded
DB relation POIs loaded
Table all households created
API and DB joined
containers per cluster determined

..\Code\loading_data.py:239: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  verblijfsobjecten['bag'] = verblijfsobjecten['split'].apply(lambda x: x[3]).astype('int64')

distance matrix loaded

In [81]:
hillclimber_variable_mutations(df)

<ipython-input-79-730a9fc03ed4>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_to_change['fractie'] = fracties

    input_value  fractie         p
0             0        3 -2.092241
1             1        3  0.437774
2             2        2 -0.486446
3             3        4  1.831748
4             4        3 -1.015497
..          ...      ...       ...
97           97        1 -1.445034
98           98        1  1.098203
99           99        3  1.103737
64           64        4  2.483291
73           73        1  2.365095

[100 rows x 3 columns]